
.ej1{
	background:grey;
}

.ej2{
	margin:20 px;
	padding-top:50px;
	padding-bottom:50px;
	padding-left:25px;
	padding-right:25px;
	border:1px solid black;
	width:100px;
}

.ej3{
	margin:20 px;
	padding-top:50px;
	padding-bottom:50px;
	padding-left:25px;
	padding-right:25px;
	border:20px solid grey;
	width:100px;

	
	
}